@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Contact @ViewData["Contact"]</p>

<address>
    <strong>More information: <a href="">Click here!</a></strong>
</address>
